::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px 0 30px 30px;
}

.img-container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 30px 0 30px 30px;
    padding: 30px;
    img{
        height: 100%;
        width: 100%;
        max-height: 60vh;
        border-radius: 15px;
        object-fit: cover;
    }
    mat-icon{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        font-size: 20px;
        border-radius: 50%;
        top: 10px;
        right: 10px;
        &:hover{
            cursor: pointer;
            scale: 1.25;
            font-size: 24px;
            color: var(--purple2);
        }
    }

    a{
        margin-top: 16px;
        font-size: 24px;
        font-weight: 700;
        color: var(--purple2);
        &:hover{
            cursor: pointer;
            scale: 1.1;
        }
    }
}