.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    box-sizing: border-box;
    gap: 30px;
    overflow: hidden;
    @media(max-width:790px) {
        padding: 8px 16px;
    }
    @media (max-width:1200px) {
        padding: 10px 40px;
    }
    @media (max-width:500px) {
        padding: 10px 30px;
        padding-bottom: 0px;
    }

    @media (max-width:400px) {
        padding: 10px 25px;
        padding-bottom: 0px;
    }
}
app-search {
    flex-grow: 1; 
    max-width: 900px;
    @media(max-width:1200px) {
        display: none;
    }
}

.header-left {
    // height: clamp(40px, 10vw, 70px);
    width: auto;
    flex-shrink: 0;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
    // @media(max-width:790px) {
    //     display: none;
    // }

}

.header-left-mobile {
    // display: none;
    @media(max-width:1200px) {
        display: flex;
    }
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    &:hover {
        .user-name {
            color: var(--purple1);
        }
        cursor: pointer;
        background-color: #edeefe;

        .arrow-down {
            scale: 1.3;
            background-image: url("/assets/img/main-page/chat/arrow_down_hover.svg");
            transition: background-image 0.3s ease;
        }
    }
}

.user-name {
    font-size: clamp(12px, 3vw, 24px);
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    max-width: 100%;
    @media(max-width:600px) {
        display: none;
    }
}


.avatarStatus {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    > img:first-child {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;    }

    > :last-child {
        position: absolute;
        width: 14px;
        bottom: 0;
        right: 0;
    }
}

.arrow-down {
    height: 40px;
    width: 40px;
    background-image: url("/assets/img/main-page/chat/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
}


.flex {
    display: flex;
  }
  .none {
    display: none;
  }

@media (max-height: 950px) {
    .header-left {
        height: 50px;
    }

    .avatarStatus {
        >img:first-child  {
            width: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 500px) {
    .header-left {
        width: 130px;
    }

    .header-left-mobile {
        width: 130px;
    }

    .avatarStatus {
        >img:first-child  {
            width: 40px;
            height: 40px;
        }
    }
}