.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    box-sizing: border-box;
}

.header-left {
    padding-left: 30px;
    &:hover {
        scale: 110%;
        cursor: pointer;
    }
}

.header-center {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    width: 900px;
}

.search-input {
    outline: none;
    border: none;
    width: 90%;
    font-size: 24px;
    color: rgba(104, 104, 104, 1);
    &::placeholder {
        font-size: 24px;
    }
    &:focus {
        cursor: text;
    }
}

.search-button:hover {
    cursor: pointer;
    scale: 120%;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
    &:hover {
        .user-name{
            color: var(--purple1);
        }
        cursor: pointer;
        background-color: #EDEEFE;
        
        .arrow-down {
            scale: 1.3;
            background-image: url('/assets/img/main-page/chat/arrow_down_hover.svg');
            transition: background-image 0.3s ease;
    }
}
}

.avatarStatus {
    position: relative;
    display: flex;
    align-items: center;
  
    > img:first-child {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }
  
    > :last-child {
      position: absolute;
      width: 14px;
      bottom: 0;
      right: 0;
    }
  }
 
.arrow-down {
    height: 40px;
    width: 40px;
    background-image: url('/assets/img/main-page/chat/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center;
}

 