<div class="header-container">
    <img class="header-left" src="/assets/img/general/dabubble-logo.svg">
    <div class="header-center">
        <input type="text" class="search-input" placeholder="Durchsuchen...">
        <img class="search-button" src="/assets/img/main-page/head/search.svg">
    </div>
    <div class="header-right" (click)="openDialog()">
        <div class="fs-32-700 user-name">{{ user?.username }}</div>
        <div class="avatarStatus">
            <img src="{{ user?.photoURL }}">
        <img
            [src]="user?.onlineStatus ? '../../assets/img/main-page/head/Online.svg' : '../../assets/img/main-page/head/Offline.svg'">
        </div>
        <div class="arrow-down" #arrowButton >
        </div>
    </div>
</div>
