.form-group-search {
  position: relative;
  margin-bottom: 20px;

  input {
    width: 100%;
    border: 1px solid var(--lightPurple);
    border-radius: 40px;
    box-sizing: border-box;
    padding: 18px 20px 18px 20px;
    outline: none;
  }
  :focus {
    border: 1px solid var(--purple1);
  }
}

.search-results {
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: white;
  width: 200px;
}

::ng-deep app-dialog-add-user.custom-width-50 div.mat-mdc-autocomplete-panel {
  max-width: 100% !important;
  border: 1px solid #ccc !important;
  border-radius: 0 20px 20px 20px !important;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08) !important;
  padding: none !important;
}

::ng-deep app-dialog-add-user.custom-width-100 div.mat-mdc-autocomplete-panel {
  max-width: 100% !important;
  border: 1px solid #ccc !important;
  border-radius: 0 20px 20px 20px !important;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08) !important;
  padding: none !important;
}

::ng-deep mat-chip-row,
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: var(--lighterPurple);
  border-radius: 35px;
}

.mat-mdc-chip.mat-mdc-standard-chip {
  --mdc-chip-container-height: 50px;
}

::ng-deep .mdc-evolution-chip__text-label,
.mat-mdc-chip-action-label {
  width: 100%;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
  &:hover {
    background-color: var(--lighterPurple) !important;
    border-radius: 30px;
  }
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Nunito', sans-serif !important;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-trailing-action .mdc-evolution-chip__action--trailing {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

mat-option {
  margin-bottom: 8px !important;
  padding-left: 20px !important;
  &:hover {
    background-color: transparent !important;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.mdc-evolution-chip-set {
  margin-top: 16px !important;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #edeefe transparent;
}

mat-chip-grid {
  max-height: 275px !important;
  height: 100% !important;
  overflow-y: auto;
  @media (max-width:590px) {
    max-height: 225px !important;
  }
}

.chip-subcontainer {
  display: flex;
  align-items: center;
  gap: 16px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    margin: 0;
    font-size: 18px;
  }
}
