.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 872px;
  width: 100%;
  padding: 40px;
  border-radius: 30px;
  margin: 0 8px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    cursor: pointer;

    &:hover {
      background-color: var(--lighterPurple);
      border-radius: 50%;

      path {
        fill: var(--purple3);
      }
    }
  }
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  button {
    margin-left: 8px;
  }
  .disabled-button {
    background-color: grey;
    cursor: not-allowed;
  }

  .enabled-button {
    background-color: blue;
    cursor: pointer;
  }
}

.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    width: 100%;
    padding-left: 20px;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
  }

  input[type="radio"] {
    border: 1px solid var(--lightPurple);
    box-sizing: border-box;
    padding: 18px 20px 18px 20px;
    outline: none;
    width: 20px;
    height: 20px;
  }
  :focus {
    border: 1px solid var(--purple1);
  }
  .search-results {
    margin-top: 8px;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
  }

  .search-result {
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.form-group-search {
  position: relative;
  margin-bottom: 20px;

  input {
    width: 100%;
    border: 1px solid var(--lightPurple);
    border-radius: 40px;
    box-sizing: border-box;
    padding: 18px 20px 18px 20px;
    outline: none;
  }
  :focus {
    border: 1px solid var(--purple1);
  }
}

.search-results {
  position: absolute;
  top: 40px;
  left: 20px;
  background-color: white;
  width: 200px;
}

button {
  width: 125px;
  height: 49px;
  padding: 12px 25px 12px 25px;
  color: white;
  background-color: var(--purple1);
  border: unset;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    background-color: var(--lightPurple);
  }
}

.error {
  color: red;
  padding-top: 8px;
  padding-left: 20px;
}

.border-blue {
  border: 1px solid blue;
}
