<div class="form-group-search">
  <input type="text" placeholder="Mitglieder suchen" [formControl]="userControl" [matAutocomplete]="auto"
    class="example-input" [class.mat-autocomplete-panel-open]="isPanelOpen" (input)="handleUserSearch($event)" />
  <mat-autocomplete #auto="matAutocomplete" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false"
    (closed)="onAutocompleteClosed()">
    <mat-option *ngFor="let user of filteredUsers" [value]="user.username"
      (onSelectionChange)="addUserToSelection(user)">
      <img [src]="user.photoURL ? user.photoURL : '../../assets/img/landing-page/men1.svg'">
      <p class="fs-18">{{ user.username }}</p>
    </mat-option>
  </mat-autocomplete>
  <div *ngIf="selectedUsers.length > 0">
    <input style="display: none;" [matChipInputFor]="chipGrid" [matChipInputAddOnBlur]="true" />
    <mat-chip-grid #chipGrid>
      <mat-chip-row *ngFor="let user of selectedUsers" [removable]="true" (removed)="removeSelectedUser(user)">
        <div class="chip-subcontainer">
          <img [src]="user.photoURL ? user.photoURL : '../../assets/img/landing-page/men1.svg'">
          <p>{{ user.username }}</p>
        </div>
        <button matChipRemove>
          <img src="../../../assets/img/main-page/thread/cross.svg" />
        </button>
      </mat-chip-row>
    </mat-chip-grid>
  </div>
</div>