<div class="dialog">
  <div class="dialog-content">
    <div class="dialog-header">
      <h2>Mitglieder bearbeiten</h2>
      <div class="close" (click)="close(false)"></div>
    </div>
    <span class="fs-18"># {{data.channel?.name}}</span>
    <app-dialog-add-user class="custom-width-100" [allUsers]="allUsers" [selectedUsers]="selectedUsers"
      (updatedUsers)="onUsersUpdated($event)"></app-dialog-add-user>
  </div>
  <div class="dialog-actions" *ngIf="(!isGuestUser)">
    <button (click)="close(true)">Speichern</button>
  </div>
  <div class="row" *ngIf="isGuestUser">
    <span class="fs-18 error-message">Gastbenutzer - nicht bearbeitbar</span>
  </div>
</div>