<div class="wrapper">
    <input type="text" [placeholder]="placeholderText" [formControl]="searchControl" [matAutocomplete]="auto"
        class="example-input" [class.mat-autocomplete-panel-open]="isPanelOpen" (input)="handleContentSearch($event)"
        matAutocompleteTrigger />
    <img class="search-button" src="/assets/img/main-page/head/search.svg">
</div>

<mat-autocomplete #auto="matAutocomplete" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false"
    (optionSelected)="onOptionSelected($event.option.value)" [displayWith]="displayFn">
    <mat-optgroup>
        <span class="no-hover">{{ channelResults.length > 0 ? 'Channels' : 'keine Channels gefunden'
            }}</span>
        <mat-option *ngFor="let channel of channelResults" [value]="channel">
            <p class="fs-18">{{ channel.name }}</p>
        </mat-option>
    </mat-optgroup>
    <mat-optgroup>
        <span class="no-hover">{{ userResults.length > 0 ? 'Mitglieder' : 'keine Mitglieder gefunden'
            }}</span>
        <mat-option *ngFor="let user of userResults" [value]="user">
            <div class="chip-subcontainer">
                <div class="avatarStatus">
                    <img [src]="user.photoURL ? user.photoURL : '../../assets/img/landing-page/men1.svg'">
                    <img
                        [src]="user?.onlineStatus ? '../../assets/img/main-page/head/Online.svg' : '../../assets/img/main-page/head/Offline.svg'">
                </div>
                <p>{{ user.username }}</p>
            </div>
        </mat-option>
    </mat-optgroup>
    <!-- <mat-optgroup *ngIf="messageResults.length > 0" [label]="'Nachrichten (' + messageResults.length + ')'">
        <mat-option *ngFor="let message of messageResults" [value]="message">
            <div class="message-result">
                <div class="message-content">
                    <p><strong>{{ getUsername(message.senderId) }}:</strong> {{ message.message }}</p>
                </div>
            </div>
        </mat-option>
    </mat-optgroup>
    <mat-optgroup *ngIf="messageResults.length === 0" [label]="'Nachrichten'">
        <mat-option disabled>
            <span>keine Nachrichten gefunden</span>
        </mat-option>
    </mat-optgroup> -->
</mat-autocomplete>