<div class="wrapper">
    <input #searchInput type="text" [placeholder]="placeholderText" [formControl]="searchControl"
        [matAutocomplete]="auto" class="example-input" (input)="handleContentSearch($event)" (click)="openSearchPanel()"
        matAutocompleteTrigger />
    <img class="search-button" src="/assets/img/main-page/head/search.svg">
</div>

<mat-autocomplete #auto="matAutocomplete" (opened)="onPanelOpened()" (closed)="onPanelClosed()"
    (optionSelected)="onOptionSelected($event.option.value)" [displayWith]="displayFn">
    <mat-optgroup *ngIf="channelResults.length > 0">
        <span class="no-hover">{{ channelResults.length > 0 ? 'Channels' : 'keine Channels gefunden'
            }}</span>
        <mat-option *ngFor="let channel of channelResults" [value]="channel">
            <p class="fs-18 shortText">{{ channel.name }}</p>
        </mat-option>
    </mat-optgroup>
    <mat-optgroup *ngIf="userResults.length > 0">
        <span class="no-hover">{{ userResults.length > 0 ? 'Mitglieder' : 'keine Mitglieder gefunden'
            }}</span>
        <mat-option *ngFor="let user of userResults" [value]="user">
            <div class="chip-subcontainer">
                <div class="avatarStatus">
                    <img [src]="user.photoURL ? user.photoURL : '../../assets/img/landing-page/men1.svg'">
                    <img
                        [src]="user?.onlineStatus ? '../../assets/img/main-page/head/Online.svg' : '../../assets/img/main-page/head/Offline.svg'">
                </div>
                <p>{{ user.username }}</p>
            </div>
        </mat-option>
    </mat-optgroup>
    <mat-optgroup *ngIf="channelResults.length === 0 && userResults.length === 0">
        <mat-option disabled>
            <span class="no-hover">Keine Ergebnisse gefunden</span>
        </mat-option>
    </mat-optgroup>
</mat-autocomplete>