<div class="container">
    <div class="content">
        <h1 [ngClass]="{'fs-46': !mobileVersion, 'fs-32-700': mobileVersion}">Anmelden</h1>
        <span class="login-text" [ngClass]="{'fs-20': !mobileVersion, 'fs-17': mobileVersion}">
            Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.
        </span>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
                <input 
                    class="fs-18"
                    formControlName="email" 
                    id="email" 
                    type="email"
                    placeholder="beispielname@email.com">
                <mat-icon>mail_outline</mat-icon>
                <span [ngClass]="{'fs-14': !mobileVersion, 'fs-12': mobileVersion}" *ngIf="errorFc('email')">
                    *Diese E-Mail-Adresse ist leider ungültig.
                </span>
            </div>
            <div class="input-container">
                <input 
                    class="fs-18"
                    formControlName="password"
                    id="password"
                    type="password"
                    placeholder="Passwort">
                <mat-icon>lock_outline</mat-icon>
                <span [ngClass]="{'fs-14': !mobileVersion, 'fs-12': mobileVersion}" *ngIf="errorFc('password') && !errorM">
                    *Das Passwort ist erforderlich.
                </span>
                <span [ngClass]="{'fs-14': !mobileVersion, 'fs-12': mobileVersion}" *ngIf="errorM">
                    {{ errorM }}
                </span>
            </div>

            <div class="fpw">
                <a (click)="resetPW()"><span class="fs-18">Passwort vergessen?</span></a>
            </div>

            <div class="separate-box">
                <div class="separate"></div>
                <span class="fs-18">ODER</span>
                <div class="separate"></div>
            </div>

            <div class="google-btn">
                <button (click)="googleLogin()" type="button">
                    <img src="assets/img/landing-page/google.svg" alt="Google-Logo">
                    <span [ngClass]="{'fs-18': !mobileVersion, 'fs-14-b': mobileVersion}">
                        Anmelden mit Google
                    </span>
                </button>
            </div>

            <div class="login-btn-box">
                <div class="login-btn">
                    <button type="submit">
                        <span class="fs-18-b">Anmelden</span>
                    </button>
                </div>
                <div class="guest-btn">
                    <button type="button" (click)="guestLogin()">
                        <span [ngClass]="{'fs-18-b': !mobileVersion, 'fs-16-b': mobileVersion}">
                            Gäste-Login
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
