<div class="container">

    <div class="content">

        <div  class="logo-box">
            <img src="assets/img/landing-page/Logo-text.svg" alt="logo" class="logo">
        </div>
        <div *ngIf="!$signUp" class="create-acc">
            <p class="fs-18">Neu bei DABubble?</p>
            <a (click)="toCreatAcc()"><span class="fs-18 link">Konto erstellen</span></a>
        </div>
  
        <app-login *ngIf="false"></app-login>
        <app-sign-up *ngIf="false"></app-sign-up>
        <app-avatar *ngIf="false"></app-avatar>
        <app-reset-password *ngIf="false"></app-reset-password>
        <app-set-password *ngIf="true"></app-set-password>

        <div class="footer">
            <a href=""><span class="fs-18 link">Impressum</span></a>
            <a href=""><span class="fs-18 link">Datenschutz</span></a>
        </div>

    </div>

     <div *ngIf="!$signUp" class="intro-animation">
        <div class="intro content">
            <div class="logo-animation">
                <div class="box">
                    <img src="assets/img/landing-page/logo.svg" alt="">
                </div>
                <span>DABubble</span>
            </div>
        </div>
    </div>
</div>
   
        
   