<div class="container">
    
    <app-pop-up *ngIf="$registration || $emailSend || $setNewPW"></app-pop-up>
    
    
    <div class="content">

        <div [ngClass]="{'animation': !animated}" class="logo-box" (click)="toLandingPage()">
            <img src="assets/img/landing-page/Logo-text.svg" alt="logo" class="logo">
        </div>
        <div *ngIf="$login && !$mobileVersion" class="create-acc">
            <p class="fs-18">Neu bei DABubble?</p>
            <a (click)="toCreatAcc()"><span class="fs-18 link">Konto erstellen</span></a>
        </div>

        <app-login *ngIf="$login"></app-login>
        <app-sign-up *ngIf="$signUp"></app-sign-up>
        <app-avatar *ngIf="$avatar"></app-avatar>
        <app-reset-password *ngIf="$resetPW"></app-reset-password>
        <app-set-password *ngIf="$setPW"></app-set-password>
        
        <app-imprint *ngIf="$imprint"></app-imprint>
        <app-privacy-policy *ngIf="$privacy"></app-privacy-policy>

        <div class="footer">
            <a (click)="toImprint()" ><span class="fs-18 link">Impressum</span></a>
            <a (click)="toPrivacy()" ><span class="fs-18 link">Datenschutz</span></a>
        </div>

        <div *ngIf="$login && $mobileVersion" class="create-acc">
            <p class="fs-18">Neu bei DABubble?</p>
            <a (click)="toCreatAcc()"><span class="fs-18 link">Konto erstellen</span></a>
        </div>
        
    </div>


     <div *ngIf="$login && !animated" class="intro-animation">
        <div class="intro content">
            <div class="logo-animation">
                <div class="box">
                    <img src="assets/img/landing-page/logo.svg" alt="">
                </div>
                <span>DABubble</span>
            </div>
        </div>
    </div>
    
</div>

        
  