<div class="container">

    <div class="content">

        <div  class="logo-box">
            <img src="assets/img/landing-page/Logo-text.svg" alt="logo" class="logo">
        </div>
        <div class="create-acc">
            <p class="fs-18">Neu bei DABubble?</p>
            <a href=""><span class="fs-18 link">Konto erstellen</span></a>
        </div>
    
        <app-login></app-login>

        <div class="footer">
            <a href=""><span class="fs-18 link">Impressum</span></a>
            <a href=""><span class="fs-18 link">Datenschutz</span></a>
        </div>

    </div>
 
    <div class="intro-animation">
        <div class="logo-animation">
            <div class="box">
                <img src="assets/img/landing-page/logo.svg" alt="">
            </div>
            <span>DABubble</span>
        </div>
    </div>
</div>
   
        
   