<div class="container">
    <div class="content">
        <div class="back-box">
            <a ><mat-icon>arrow_back</mat-icon></a>
        </div>
        <h1 class="fs-46">Passwort zurücksetzten</h1>
        <form >
            
            <div class="input-container">
                <input 
                class="fs-18"
                id="password" 
                type="password"
                placeholder="Neues Passwort"
                >
            </div>
            <div class="input-container">
                <input 
                class="fs-18"
                id="password" 
                type="password"
                placeholder="Neues Kennwort bestätigen"
                >
            </div>

            <div class="futer-box">
                <div class="futer-btn">
                    <button disabled>
                        <span class="fs-18-b">Passwort ändern</span>
                    </button>
                    
                </div>
            </div>

        </form>
    </div>
</div>


