<div class="container">
  <div class="content">
    <div class="back-box">
      <a (click)="backToLogin()"><mat-icon>arrow_back</mat-icon></a>
    </div>
    <h1 [ngClass]="{'fs-46': !mobileVersion, 'fs-32-700': mobileVersion}">Passwort zurücksetzen</h1>
    <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword()">
      
      <div class="input-container">
        <input
          class="fs-18"
          formControlName="password"
          id="password"
          type="password"
          placeholder="Neues Passwort"
          required
        />
      </div>
      <div class="input-container">
        <input
          class="fs-18"
          formControlName="confirmPassword"
          id="confirmPassword"
          type="password"
          placeholder="Neues Passwort bestätigen"
          required
        />
        <span class="fs-14 error-message" *ngIf="!passwordsMatch()">Die Passwörter stimmen nicht überein.</span>
        <span class="fs-14 error-message" *ngIf="errorM">{{ errorM }}</span>
      </div>

      <div class="futer-box">
        <div class="futer-btn">
          <button type="submit" [disabled]="!setPasswordForm.valid || !passwordsMatch()">
            <span class="fs-18-b">Passwort setzen</span>
          </button>
        </div>
      </div>
  
    </form>
  </div>
</div>
