<div class="thread-content">
    <div id="thread-messages-container">
        <div class="origin-message">
            <div class="message-section">
                <div class="reaction-bar">
                    <div class="emoji-reaction"></div>
                    <div class="option-reaction"></div>
                </div>
                <div class="message-content">
                    <img class="author-picture" src="/assets/img/general/avatars/avatar3.svg">
                    <div class="details">
                        <div class="author">
                            <div class="author-name fs-18-700">Message author</div>
                            <div class="message-send-time fs-14">14:00 Uhr</div>
                        </div>
                        <div class="text fs-18">JUNGE JUNGE gibt es hier viele Details</div>
                        <div class="reactions">
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="add-reaction"></div>
                        </div>
                    </div>
                </div>
                <div class="open-answers fs-18">2 Antworten</div>
                <div class="line"></div>
            </div>
            <div class="message-files" style="display: none;"></div>
        </div>
        <div class="user-send-message">
            <div class="message-section">
                <div class="reaction-bar">
                    <div class="emoji-reaction"></div>
                    <div class="option-reaction"></div>
                </div>
                <div class="message-content">
                    <img class="author-picture" src="/assets/img/general/avatars/avatar3.svg">
                    <div class="details">
                        <div class="author">
                            <div class="author-name fs-18-700">Message author</div>
                            <div class="message-send-time fs-14">14:00 Uhr</div>
                        </div>
                        <div class="text fs-18">JUNGE JUNGE gibt es hier viele Details</div>
                        <div class="reactions">
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="add-reaction"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-files" style="display: none;"></div>
        </div>
        <div class="message">
            <div class="message-section">
                <div class="reaction-bar">
                    <div class="emoji-reaction"></div>
                    <div class="option-reaction"></div>
                </div>
                <div class="message-content">
                    <img class="author-picture" src="/assets/img/general/avatars/avatar3.svg">
                    <div class="details">
                        <div class="author">
                            <div class="author-name fs-18-700">Message author</div>
                            <div class="message-send-time fs-14">14:00 Uhr</div>
                        </div>
                        <div class="text fs-18">JUNGE JUNGE gibt es hier viele Details</div>
                        <div class="reactions">
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="add-reaction"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-files" style="display: none;"></div>
        </div>
        <div class="message">
            <div class="message-section">
                <div class="reaction-bar">
                    <div class="emoji-reaction"></div>
                    <div class="option-reaction"></div>
                </div>
                <div class="message-content">
                    <img class="author-picture" src="/assets/img/general/avatars/avatar3.svg">
                    <div class="details">
                        <div class="author">
                            <div class="author-name fs-18-700">Message author</div>
                            <div class="message-send-time fs-14">14:00 Uhr</div>
                        </div>
                        <div class="text fs-18">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   

                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</div>
                        <div class="reactions">
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="add-reaction"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-files" style="display: none;"></div>
        </div>
        <div class="user-send-message">
            <div class="message-section">
                <div class="reaction-bar">
                    <div class="emoji-reaction"></div>
                    <div class="option-reaction"></div>
                </div>
                <div class="message-content">
                    <img class="author-picture" src="/assets/img/general/avatars/avatar3.svg">
                    <div class="details">
                        <div class="author">
                            <div class="author-name fs-18-700">Message author</div>
                            <div class="message-send-time fs-14">14:00 Uhr</div>
                        </div>
                        <div class="text fs-18">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
                        <div class="reactions">
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="add-reaction"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-files" style="display: none;"></div>
        </div>
        <div class="user-send-message">
            <div class="message-section">
                <div class="reaction-bar">
                    <div class="emoji-reaction"></div>
                    <div class="option-reaction"></div>
                </div>
                <div class="message-content">
                    <img class="author-picture" src="/assets/img/general/avatars/avatar3.svg">
                    <div class="details">
                        <div class="author">
                            <div class="author-name fs-18-700">Message author</div>
                            <div class="message-send-time fs-14">14:00 Uhr</div>
                        </div>
                        <div class="text fs-18">JUNGE JUNGE gibt es hier viele Details</div>
                        <div class="reactions">
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="emoji-container">
                                <div class="emoji"></div>
                                <div class="emoji-counter">1</div>
                            </div>
                            <div class="add-reaction"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-files" style="display: none;"></div>
        </div>
    </div>
</div>
