.thread-content {
  display: flex;
  height: 100%;
  width: 100%;
}

#thread-messages-container {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

.message-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 144px;
  max-height: 144px;
  padding: 24px;
  color: red;
  border-radius: 10px;
  background-color: var(--bgColor);
  
  .pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid var(--purple1);
    border-radius: 10px;
    font-size: 64px;
    transition: transform 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
}

  img {
    max-width: 120px;
    width: 100%;
    max-height: 120px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

}

.origin-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
}

.message-section {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 10px;
  &:hover {
    .message-content {
      background-color: #edeefe;
      cursor: pointer;

      .text {
        background-color: white;
      }
    }

    .reaction-bar {
      visibility: visible;
    }
  }
}

.reaction-bar {
  display: flex;
  visibility: hidden;
  position: relative;
  z-index: 500;
  margin-right: 40px;
  align-self: flex-end;
  background-color: white;
  border: 1px solid #adb0d9;
  border-radius: 30px;
  border-bottom-right-radius: 0px;
  padding: 3px 20px;
  gap: 5px;
  > div {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      cursor: pointer;
      background-color: #edeefe;
      border-radius: 25px;
    }
  }
}

.emoji-reaction {
  background-size: 50% 50%;
  background-image: url("/assets/img/main-page/chat/reaction-emojis.svg");
  &:hover {
    background-image: url("/assets/img/main-page/chat/reaction-emojis-hover.svg");
  }
}

.comment-reaction {
  background-image: url("/assets/img/main-page/chat/reaction-comment.svg");
  &:hover {
    background-image: url("/assets/img/main-page/chat/reaction-comment-hover.svg");
  }
}

.option-reaction {
  display: none;
  background-size: 40% 40%;
  background-image: url("/assets/img/main-page/chat/reaction-option.svg");
  &:hover {
    background-image: url("/assets/img/main-page/chat/reaction-option-hover.svg");
  }
}

.message-content {
  display: flex;
  position: relative;
  bottom: 10px;
  gap: 20px;
  padding: 20px;
  border-radius: 30px;
  &:hover {
    background-color: #edeefe;
    cursor: pointer;

    .text {
      background-color: white;
    }
  }
}

.author-picture {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  padding: 20px;
  background-color: #edeefe;
  border-radius: 30px;
  border-top-left-radius: 0px;
  gap: 20px;
}

.textcontent {
  word-wrap: break-word; 
  word-break: break-word; 
}

.author {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.open-thread {
  display: flex;
  gap: 20px;
  align-items: center;
}

.open-answers {
  display: flex;
  padding: 10px 20px;
  color: #adb0d9;
  background-color: white;
  z-index: 500;
  width: 30%;
  min-width: 150px;
}

.line {
  height: 1px;
  background-color: #adb0d9;
  position: relative;
  bottom: 20px;
}

.reactions {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 100%;
  flex-wrap: wrap;
}

.emoji-container {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: white;
  border: 1px solid #adb0d9;
  padding: 3px 7px;
  border-radius: 20px;
  font-size: 13px;
  position: relative;
}

.custom-tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 120%;
  left: 25px;
  background-color: var(--purple1);
  color: white;
  border-radius: 30px 30px 30px 0;
  height: 150px;
  width: 160px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 4px;
}

.tooltip-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.emoji-container:hover .custom-tooltip {
  opacity: 1;
}

.emoji {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-counter {
  display: flex;
  align-items: center;
}

.add-reaction {
  height: 28px;
  width: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/img/main-page/chat/reaction-emojis.svg");
  &:hover {
    background-image: url("/assets/img/main-page/chat/reaction-emojis-hover.svg");
  }
}

.user-send-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;

  .message-section {
    &:hover {
      .text {
        background-color: #797ef3;
      }
    }
  }

  .reaction-bar {
    align-self: flex-start;
    margin-right: 0px;
    margin-left: 40px;

    .option-reaction {
      display: flex;
    }
  }

  .message-content {
    justify-content: flex-end;

    .author-picture {
      order: 2;
    }

    .author {
      align-self: flex-end;
    }

    .author-name {
      order: 1;
    }

    .text {
      align-self: flex-end;
      border-top-left-radius: 30px;
      border-top-right-radius: 0px;
      background-color: #797ef3;
      color: white;
    }

    .open-thread {
      justify-content: flex-end;
    }

    .open-answers {
      order: 2;
    }

    .last-answer {
      order: 1;
    }

    .reactions {
      justify-content: flex-end;
    }
  }
}

/*Marco CSS edit Message*/
.edit-thread {
  > input,
  textarea {
    width: 100%;
    border: 1px solid var(--lightPurple);
    border-radius: 40px;
    box-sizing: border-box;
    padding: 18px 20px 18px 20px;
    outline: none;
    overflow: hidden;
    background-color: white !important;
    color: black !important;
    resize: none;
  }
  :focus {
    border: 1px solid var(--purple1);
  }
}

.edit-btn-thread {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.edit {
  color: var(--purple3);
  cursor: pointer;
  border: 1px solid var(--purple2);
  padding: 5px 15px;
  border-radius: 30px;

  &:hover {
    scale: 120%;
  }
}
/*Marco CSS edit Message*/

.emoji-picker-dialog {
  position: absolute;
  z-index: 1000;
  background: white;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
}

@media (max-width: 10000px) {
  .reaction-bar {
    margin-top: 20px;
  }
}


@media (max-width: 10000px) {

  .author-name {
    font-size: 14px;
  }

  .message-send-time {
    font-size: 12px;
  }

  .text {
    font-size: 15px;
  }

  .author-picture {
    height: 50px;
    width: 50px;
  }

  .message-date {
    font-size: 13px;
  }

  .reaction-bar {
    padding: 3px 15px;
    >div {
      font-size: 12px;
      height: 25px;
      width: 25px;
    }
  }

  .emoji-container {
    font-size: 10px;
  }

  .emoji {
    height: 20px;
    width: 20px;
  }

  .edit {
    font-size: 10px;
  }

}


@media (max-width: 10000px) {
  .message-content {
    padding-top: 30px;
  }

  .edit-btn-thread {
    gap: 30px;
    padding-right: 0;
  }

  .edit {
    font-size: 8px;
    padding: 3px 8px;
  }
}

@media (max-width: 790px) {
  .reaction-bar {
    padding: 3px 15px;
    >div {
      font-size: 11px;
      height: 24px;
      width: 24px;
    }
  }

  .add-reaction {
    height: 24px;
    width: 24px;
  }


  .emoji-container {
    font-size: 8px;
    padding: 2px 5px;
  }

  .emoji {
    height: 17px;
    width: 17px;
  }

  .edit-btn-thread {
    gap: 25px;
  }

  .edit {
    font-size: 8px;
  }
}

@media (max-width: 550px) {

  .reaction-bar {
    align-self: center !important;
    margin-left: 0 !important; 
    margin-top: 0 !important;
  }

  .author-name {
    font-size: 10px;
  }

  .message-send-time {
    font-size: 10px;
  }

  .text {
    font-size: 12px;
  }

  .author-picture {
    height: 30px;
    width: 30px;
  }

  .emoji {
    height: 20px;
    width: 20px;
  }

  .message-date {
    font-size: 9px;
    bottom: 15px;
  }

  #thread-messages-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .reaction-bar {
    scale: 80%;
  }

  .emoji-container {
    scale: 90%;
  }

  .user-send-message {
    .reaction-bar {
      margin-left: 0;
    }
  }

  .message {
    .reaction-bar {
      margin-right: 0;
    }
  }

  .edit-btn-thread {
    gap: 5px;
    padding-right: 0;
  }

  .edit {
    font-size: 7px;
    padding: 3px 5px;
    &:hover {
      scale: 110%;
    }
  }


}
