.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  background-color: transparent;
  border-radius: 30px 30px 0 0;
  padding: 20px 50px 20px 50px;
  @media (max-width: 1450px) {
    padding: 20px 30px 20px 30px;
  }
  @media (max-width: 600px) {
    padding: 5px 30px !important;
  }
}

.chat-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-width: 600px;
  @media (max-width: 1700px) {
    max-width: 400px;
  }
  @media (max-width: 1600px) {
    max-width: 300px;
  }
  @media (max-width: 1200px) {
    max-width: 700px;
  }
  @media (max-width: 1020px) {
    max-width: 400px;
  }
  @media (max-width: 800px) {
    max-width: 300px;
  }
  @media (max-width: 600px) {
    max-width: 250px;
  }
  @media (max-width: 400px) {
    max-width: 150px;
  }
  

  .arrow-down {
    height: 40px;
    width: 40px;
    background-image: url("/assets/img/main-page/chat/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

   .channelmenu{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    max-width: 500px;
    @media (max-width: 1450px) {
        font-size: 20px;
        max-width: 250px;
    }
    @media (max-width: 1200px) {
      font-size: 20px;
      max-width: 600px;
  }
  }

  &:hover {
    cursor: pointer;
    background-color: #edeefe;
    border-radius: 20px;
    > div {
      color: #535af1;
    }
    .arrow-down {
      background-image: url("/assets/img/main-page/chat/arrow_down_hover.svg");
    }
  }
}

.chat-header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-pictures {
  display: flex;
  align-items: center;
  padding: 10px;
  > img {
    position: relative;
    margin-left: -8px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 2px solid white;
    object-fit: cover;
  }
  &:hover {
    cursor: pointer;
    background-color: #edeefe;
    border-radius: 40px;
    > div {
      color: #535af1;
    }
  }
  @media (max-width: 1300px) {
    display: none;
  }
  @media (max-width: 1200px) {
    display: flex;
  }
  @media (max-width: 700px) {
    display: none;
  }

  
}

.add-members {
  height: 40px;
  width: 40px;
  background-image: url("/assets/img/main-page/chat/add-members-button.svg");
  &:hover {
    cursor: pointer;
    background-image: url("/assets/img/main-page/chat/add-members-button-hover.svg");
  }
}

@media (max-height: 950px) {
  .chat-header {
      padding: 5px 50px;
  }

  .chat-header-left {
      >div {
          font-size: 20px;
      }
  }

}