.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  background-color: transparent;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.chat-header-left {
  display: flex;
  gap: 10px;
  padding: 10px;
  max-width: 400px;

  .arrow-down {
    height: 40px;
    width: 40px;
    background-image: url("/assets/img/main-page/chat/arrow_down.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  > div {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
  &:hover {
    cursor: pointer;
    background-color: #edeefe;
    border-radius: 20px;
    > div {
      color: #535af1;
    }
    .arrow-down {
      background-image: url("/assets/img/main-page/chat/arrow_down_hover.svg");
    }
  }
}

.chat-header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-pictures {
  display: flex;
  align-items: center;
  padding: 10px;
  > img {
    position: relative;
    margin-left: -8px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid white;
    object-fit: cover;
  }
  &:hover {
    cursor: pointer;
    background-color: #edeefe;
    border-radius: 40px;
    > div {
      color: #535af1;
    }
  }
}

.add-members {
  height: 40px;
  width: 40px;
  background-image: url("/assets/img/main-page/chat/add-members-button.svg");
  &:hover {
    cursor: pointer;
    background-image: url("/assets/img/main-page/chat/add-members-button-hover.svg");
  }
}
