<div class="chat-header">
    <div class="chat-header-left">
        <div class="fs-24-700">#Entwicklerteam</div>
        <div class="arrow-down"></div>
    </div>
    <div class="chat-header-right">
        <div class="user-pictures">
            <img src="/assets/img/general/avatars/Avatar.svg">
            <img src="/assets/img/general/avatars/avatar1.svg">
            <img src="/assets/img/general/avatars/avatar2.svg">
            <div class="fs-20-700" style="padding-left: 15px;">3</div>
        </div>
        <div class="add-members"></div>

    </div>
</div>