@use '@angular/material' as mat;
@include mat.core();
$DaBubble-primary: mat.define-palette(mat.$indigo-palette);
$DaBubble-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$DaBubble-warn: mat.define-palette(mat.$red-palette);
$DaBubble-theme: mat.define-light-theme(
  (
    color: (
      primary: $DaBubble-primary,
      accent: $DaBubble-accent,
      warn: $DaBubble-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);
@include mat.all-component-themes($DaBubble-theme);
@import '@ctrl/ngx-emoji-mart/picker';

/* You can add global styles to this file, and also import other style files */
:root {
  --bgColor: #eceefe;
  --lightPurple: #aeb0d9;
  --lighterPurple: #eceefe;
  --textGray: #686868;
  --purple1: #444df2;
  --purple2: #797ef3;
  --purple3: #535af1;
  --onlineGreen: #91c93e;
  --rosaError: #ed1e7a;
}

.border-blue {
  border: 1px solid blue;
}
.border-red {
  border: 1px solid red;
}
.border-green {
  border: 1px solid green;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}

body {
  // height: auto;
  // width: auto;
  background-color: var(--bgColor);

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #edeefe;
  }

  scrollbar-width: thin;
  scrollbar-color: #edeefe transparent;
}

html,
body {
  height: 100%;
  margin: 0;
}

a,
button,
input {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.fs-18 {
  font-size: 18px;
  font-weight: 400;
}

.fs-17 {
  font-size: 17px;
  font-weight: 400;
}

.fs-16 {
  font-size: 16px;
  font-weight: 400;
}

.fs-12 {
  font-size: 12px;
  font-weight: 400;
}

.fs-14 {
  font-size: 14px;
  font-weight: 400;
}

.fs-14-b {
  font-size: 14px;
  font-weight: 700;
}

.fs-16-b {
  font-size: 16px;
  font-weight: 700;
}
.fs-18-b {
  font-size: 18px;
  font-weight: 700;
}

.fs-18-700 {
  font-size: 18px;
  font-weight: 700;
}

.fs-20 {
  font-size: 20px;
  font-weight: 400;
}
.fs-20-700 {
  font-size: 20px;
  font-weight: 700;
}

.fs-24 {
  font-size: 24px;
  font-weight: 400;
}

.fs-46 {
  font-size: 46px;
}
.fs-24-700 {
  font-size: 24px;
  font-weight: 700;
}
.fs-32 {
  font-size: 32px;
  font-weight: 400;
}

.fs-32-700 {
  font-size: 32px;
  font-weight: 700;
}

/* nunito-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url('assets/fonts/nunito-v26-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/nunito-v26-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/nunito-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/nunito-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/nunito-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/nunito-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.dialog-panel-edit-channel .mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface {
  border-radius: 0 30px 30px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  @media (max-width: 790px) {
    border-radius: 30px 30px 30px 30px;
    max-height: 600px;
    height: 100%;
  }
}

.dialog-panel-channel-overview .mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface {
  border-radius: 30px 0 30px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  @media (max-width: 790px) {
    border-radius: 30px 30px 30px 30px;
  }
}

.dialog-header-profile .mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface {
  border-radius: 30px 0 30px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mobile-chat-dialog .mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface {
  border-radius: 30px 0 30px 30px;
}

.emoji-mart {
  // background-color: var(--bgColor);
  border: unset;
}

.emoji-mart-search {
  display: none;
}

.emoji-mart-preview {
  display: none;
}
