<div class="dialog">
  <div class="dialog-content">
    <div class="dialog-header">
      <h2># {{name}}</h2>
      <div class="close" (click)="close()"></div>
    </div>
    <div class="container-channel" [ngClass]="{'container-channel-edit-mode': editNameClicked}">
      <div class="fs-18-400">
        <span class="fs-18-700">Channel-Name</span>
        <span class="edit" (click)="editChannelBtn($event)">{{editName}}</span>
      </div>
      @if (!editNameClicked) {
      <span class="fs-18"># {{name}}</span>
      }@else {
      <div class="edit-channel">
        <!-- <span>#</span> -->
        <input class="fs-18" [disabled]="inputNameDisabled" [(ngModel)]="name" minlength="3" type="text">
      </div>
      @if(channelExist){
      <span style="color:red">Dieser Kanal existiert bereit</span>
      }
      }
    </div>
    <div class="container-channel" [ngClass]="{'container-channel-edit-mode': editDescriptionClicked}">
      <div class="fs-18-400">
        <span class="fs-18-700">Beschreibung</span>
        <span class="edit" (click)="editDescriptionBtn($event)">{{editDescription}}</span>
      </div>
      @if (!editDescriptionClicked) {

      <span class="fs-18">{{description}}</span>
      } @else {
      <div class="edit-channel">
        <!-- <span>#</span> -->
        <textarea #descriptionTextarea class="fs-18" [disabled]="inputNameDisabled" [(ngModel)]="description"
          (input)="adjustHeight($event)" type="text"></textarea>

      </div>
      }
      <div class="line"></div>
      <span class="fs-18-700">Erstellt von</span>
      <span class="fs-24" [ngStyle]="{'color': 'var(--purple3)'}">{{creator}}</span>
      <span class="fs-24-700" [ngStyle]="{'color': 'red','cursor': 'pointer'}" (click)="deleteChannel()">Delete
        Channel for testing</span>
    </div>
    <div class="container-channel">
      <span class="fs-18-700">Mitglieder</span>
    </div>
  </div>
</div>