<div class="container">
    <div class="content">
      <div class="back-box">
        <a (click)="backToLogin()"><mat-icon>arrow_back</mat-icon></a>
      </div>
      <h1 [ngClass]="{'fs-46': !mobileVersion, 'fs-32-700': mobileVersion}">Passwort zurücksetzen</h1>
      <span class="login-text"  [ngClass]="{'fs-20': !mobileVersion, 'fs-17': mobileVersion}">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
      <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
        <div class="input-container">
          <input
            class="fs-18"
            id="email"
            type="email"
            placeholder="beispielname@email.com"
            formControlName="email" 
          >
          <mat-icon>mail_outline</mat-icon>
          <span *ngIf="errorFc('email')">*Diese E-Mail-Adresse ist leider ungültig.</span>
        </div>
  
        <div class="info-box">
          <span  [ngClass]="{'fs-20': !mobileVersion, 'fs-17': mobileVersion}">
            Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
          </span>
        </div>
  
        <div class="footer-box">
          <div class="footer-btn">
            <button type="submit" [disabled]="!resetForm.valid">
              <span class="fs-18-b">E-Mail senden</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
