main {
    max-width: 1920px;
    width: 100%;
    background-color: var(--bgColor);
    margin: 0 auto;
    overflow: hidden;
    height: 100svh;
    min-height: 950px;
    @media (max-width:1200px) {
      min-height: 920px;
    }
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;
      }
    
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: padding-box;
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background-color: #edeefe;
      }
    
      scrollbar-width: thin;
      scrollbar-color: #edeefe transparent;
}

.header {
    display: flex;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    height: calc(100svh - 110px);
    padding: 0 20px 25px 20px;

    @media (max-width:1200px) {
        justify-content: center;
        padding-right: 20px;
        padding-left: 0;
        padding-bottom: 10px;
    }
}
