.custom-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 899;
}

.custom-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 900;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden;
  height: 50vh;
}

.custom-dialog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
