.thread-window-container {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    padding: 20px;
}

.thread-header {
    display: flex;
    justify-content: space-between;
}