<div class="thread-window-container">
    <div class="thread-header">
        <div class="thread-header-left">#Entwicklerteam</div>
        <div class="thread-header-right">
            Close
        </div>
    </div>
    <div class="thread-content">
        <div id="thread-messages-container">
            <div class="message">TEST</div>
            <div class="message">TEST</div>
            <div class="message">TEST</div>
        </div>
    </div>
    <div class="thread-footer">
        <div id="thread-message-input"></div>
        <div class="thread-message-toolbar">
            <div class="thread-toolbar-left">
                <div>A</div>
                <div>A</div>
                <div>A</div>
            </div>
            <div class="thread-toolbar-right">
                <div>A</div>
            </div>
        </div>
    </div>
</div>