<div class="chat-window-container">
    <app-chat-header [channel]="channel" [members]="members" [users]="users"></app-chat-header>
    <div class="messages" #chatContainer>
        <app-chat-messages [messages$]="messages$" [currentUser]="currentUser" [channelId]="channelId" [threadCounts]="threadCounts" [lastThreadMessageTimes]="lastThreadMessageTimes" class="messages"></app-chat-messages>
    </div>
    <app-chat-footer [channel]="channel" class="footer" (messageSent)="scrollToBottom()"></app-chat-footer>
</div>

