.chat-window-container {
  display: flex;
  flex-direction: column;
  z-index: 500;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.messages {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #edeefe;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #edeefe;
  }

  scrollbar-width: thin;
  scrollbar-color: #edeefe transparent;
}

.footer {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  @media (max-width: 600px) {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  
  }
}
