<div class="chat-footer">
    <div class="emoji-picker-dialog" *ngIf="showEmojiPicker">
        <emoji-mart [isNative]="true" [exclude]="[ 'recent','flags', 'symbols', 'animals']" [perLine]="8"
            searchPosition=none color="#444df2" set="twitter" (emojiClick)="addEmoji($event)"></emoji-mart>
    </div>

    <div *ngIf="chatImg || uploadError" class="chatImg">
        <img *ngIf="chatImg && !isPdf" [src]="chatImg" alt="Uploaded image">
        <a *ngIf="chatImg && isPdf" [href]="safePath" target="_blank">
            <mat-icon class="pdf">picture_as_pdf</mat-icon>
        </a>
        <mat-icon class="delete" *ngIf="chatImg" (click)="deleteImg()">delete</mat-icon>
        <p *ngIf="uploadError" class="error-message">{{ uploadError }}</p>
    </div>
    <textarea #chatMessageInput id="chat-message-input" placeholder="Nachricht an #{{channel?.name}}"
        [(ngModel)]="inputText" (input)="onInput($event)" (keydown)="handleKeyDown($event)" rows="3"></textarea>
    <ul *ngIf="dropdownOpen && filteredUsers.length > 0" class="autocomplete-list">
        <li *ngFor="let user of filteredUsers; let i = index" [class.active]="i === activeIndex"
            (click)="selectUser(user)">
            <img [src]="user.photoURL ? user.photoURL : 'default-image-url'" alt="{{user.username}}-avatar">
            {{ user.username }}
        </li>
    </ul>
    <ul *ngIf="dropdownOpen && filteredChannels.length > 0" class="autocomplete-list">
        <li *ngFor="let channel of filteredChannels; let i = index" [class.active]="i === activeIndex"
            (click)="selectChannel(channel)">{{ channel.name }}</li>
    </ul>

    <div class="chat-message-toolbar">
        <div class="chat-toolbar-left">
            <div>
                <div class="add-file" (click)="triggerFileUpload(fileInput)"></div>
                <input type="file" #fileInput style="display: none" (change)="uploadImage($event)">
            </div>
            <div class="seperator"></div>
            <div>
                <div class="add-emojis" (click)="toggleEmojiPicker($event)"></div>
            </div>
            <div>
                <div class="tag-user" (click)="openAutocomplete()"></div>
            </div>
        </div>
        <div class="chat-toolbar-right">
            <div>
                <div class="send-message" (click)="sendMessage()"></div>
            </div>
        </div>
    </div>
</div>