.chat-window {
  width: 100%;
  display: flex;
  margin-left: 20px;
  &.no-sidebar {
    margin-left: 0;
  }
  @media (max-width: 790px) {
    display: none !important;
  }
  // padding-right: 30px;
  // padding-left: 30px;
}

.dm-window {
  width: 100%;
  // padding-right: 30px;
  margin-left: 20px;
  display: none;
}

.thread-window {
  width: 0;
  max-width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: width 0.3s, max-width 0.3s, opacity 0.3s, height 0.3s;
  margin-left: 20px;
  visibility: hidden; 
  display: none;
}

.thread-window.open {
  width: 50%;
  max-width: 50%;
  height: auto;
  opacity: 1;
  visibility: visible;
  display: flex;
}

.sidebar-window {
  box-sizing: border-box;
  @media (max-width: 790px) {
    display: flex;
    flex: 1;    
  }
}
