<app-sidebar class="sidebar-window" (conversationSet)="dmWindow.loadMessages()"
    [workspaceVisible]="workspaceVisible"></app-sidebar>
<app-chat-window class="chat-window" [workspaceVisible]="workspaceVisible"
    [class.no-sidebar]="!workspaceVisible"></app-chat-window>
<app-dm-window class="dm-window" #dmWindow></app-dm-window>
<app-thread-window class="thread-window"></app-thread-window>
@if (showWorkspaceToggle) {
<app-workspace-toggle (toggle)="toggleWorkspace()"></app-workspace-toggle>
}