.chat-window {
  width: 100%;
  display: flex;
  min-height: 820px;
  height: 100%;
  @media (max-width: 790px) {
    margin-left: unset;
  }

  @media (max-width: 1200px) {
    max-width: unset;
    width: 100%;
    justify-content: center;
    padding-right: 0;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}

.dm-window {
  width: 100%;
  display: flex;
  min-height: 800px;
  height: 100%;
  &.no-sidebar {
    margin-left: 0;
  }
  @media (max-width: 1200px) {
    padding-top: 10px;
  }
  @media (max-width: 790px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 450px) {
    padding-left: 0px;
    padding-right: 0px;
  }

}

.thread-window {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 20px;
  border-radius: 30px;
  min-width: 400px;
  max-width: 400px;
  min-height: 800px;
  height: 100%;

  @media (max-width: 1200px) {
    max-width: 100% !important;
    width: 100%;
    padding-bottom: 20px;
    padding-right: 0;
    margin-left: 0;
    margin-top: 10px;
  }

  @media (max-width: 1500px) {
    min-width: 300px;
    max-width: 300px;
  }
}

.sidebar-window {
  display: flex;
  padding-right: 20px;
  max-width: 320px;
  visibility: visible;
  transition: max-width 0.2s ease-in-out, visibility 0s linear 0.2s;
  @media (max-width: 1200px) {
    justify-content: center;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 0px;
    max-width: 800px;
    max-height: 800px;
  }
  min-height: 800px;
}

// Einblenden
.slide-in {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

// Ausblenden
.slide-out {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

::ng-deep .mobile-chat-dialog .mat-dialog-container {
  background-color: aqua !important;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 40px !important;
}

.sidebar-window.hidden {
  max-width: 0;
  margin-right: 0;
  visibility: hidden;
  transition: max-width 0.2s ease-in-out, visibility 0.1s linear 0.2s;
  @media (max-width: 790px) {
    transition: unset;
  }
}

.thread-window.hidden {
  max-width: 0;
  margin-left: 0;
  transition: max-width 0.1s ease-in-out, visibility 0.1s linear 0.1s;
  visibility: hidden;
  display: none;
}
