<div class="dialog">
  @if (currentStep === 'channel') {
  <div class="dialog-content">
    <div class="dialog-header">
      <h2>Channel erstellen</h2>
      <button class="close" type="button" (click)="close()"></button>
    </div>
    <span class="fs-18">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein
      #marketing zum
      Beispiel.</span>
    <form [formGroup]="addChannelForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="name" class="fs-18-700">Channel-Name</label>
        <input id="name" type="text" class="fs-18" formControlName="name" placeholder="# z.B. Kooperationsprojekte"
          required cdkFocusInitial>
        <div *ngIf="addChannelForm.get('name')?.touched && addChannelForm.get('name')?.invalid" class="error">
          <div *ngIf="addChannelForm.get('name')?.errors?.['required']">Name ist erforderlich.</div>
          <div *ngIf="addChannelForm.get('name')?.errors?.['minlength']">Der Name muss mindestens 3 Zeichen lang sein.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="fs-18-700">Beschreibung (optional)</label>
        <input id="description" class="fs-18" type="text" formControlName="description" placeholder="Dein Text hier">
      </div>
      <div class="dialog-actions">
        <button type="submit" class="fs-18-700" [disabled]="addChannelForm.invalid">Erstellen</button>
      </div>
    </form>
  </div>
  }
  @if (currentStep === 'user') {
  <div class="dialog-content">
    <div class="dialog-header">
      <h2>Leute hinzufügen</h2>
      <button class="close" type="button" (click)="close()"></button>
    </div>
    <form [formGroup]="addUserForm" (ngSubmit)="submitUser()">
      <div class="form-group-add-user">
        <div class="form-group-row border-blue">
          <input id="all" type="radio" formControlName="selection" value="all" required>
          <label for="all" class="fs-18">Alle Mitglieder zu <span style="color: var(--purple1);">{{ channelName
              }}</span>
            hinzufügen</label>
        </div>
        <div>
          <input id="select" type="radio" formControlName="selection" value="select" required>
          <label for="select" class="fs-18">Bestimmte Leute hinzufügen</label>
        </div>
        <div *ngIf="addUserForm.get('selection')?.value === 'select'" class="form-group-search">
          <input type="text" placeholder="Mitglieder suchen" [formControl]="userControl" [matAutocomplete]="auto"
            class="example-input" [class.mat-autocomplete-panel-open]="isPanelOpen" (input)="onSearchUsers($event)">
          <mat-autocomplete #auto="matAutocomplete" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
            <mat-option *ngFor="let user of filteredUsers" [value]="user.name" (onSelectionChange)="selectUser(user)">
              <img src="../../../assets/img/general/avatars/Avatar.svg" alt="">
              <p class="fs-18">{{ user.name }}</p>
            </mat-option>
          </mat-autocomplete>
        </div>
        <div *ngIf="addUserForm.get('selection')?.value === 'select'">
          <div *ngIf="selectedUsers.length > 0">
            <input style="display: none;" [matChipInputFor]="chipGrid" [matChipInputAddOnBlur]="true" />
            <mat-chip-grid #chipGrid>
              <mat-chip-row *ngFor="let user of selectedUsers" [removable]="true" (removed)="removeUser(user)">
                <div class="chip-subcontainer">
                  <!-- Function für get img -->
                  <img src="../../../assets/img/general/avatars/Avatar.svg" alt="">
                  <p>{{ user.name }}</p>
                </div>
                <button matChipRemove>
                  <img src="../../../assets/img/main-page/thread/cross.svg">
                </button>
              </mat-chip-row>
            </mat-chip-grid>
          </div>
        </div>
      </div>
      <div class="dialog-actions">
        <button type="submit" class="fs-18-700" [disabled]="addUserForm.invalid">Hinzufügen</button>
      </div>
    </form>
  </div>
  }
</div>