.dm-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    background-color: transparent;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 300px;
    @media (max-width: 600px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.dm-header-left {
    display: flex;
    gap: 10px;
    padding: 10px;

    .arrow-down {
        height: 40px;
        width: 40px;
        background-image: url('/assets/img/main-page/chat/arrow_down.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    >div {
        display: flex;
        align-items: center;
    }
    &:hover {
        cursor: pointer;
        background-color: #EDEEFE;
        border-radius: 20px;
        >div {
            color: #535af1;
        }
    }
}

.avatarStatus {
    position: relative;
    display: flex;
    align-items: center;
  
    > img:first-child {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid black;
    }
  
    > :last-child {
      position: absolute;
      width: 14px;
      bottom: 0;
      right: 0;
    }
  }


  @media (max-height: 950px) {
    .dm-header {
        padding: 5px 50px;
    }

    .dm-header-left {
        >div {
            font-size: 20px;
        }
    }

    .avatarStatus {
        >img:first-child {
            width: 35px;
            height: 35px;
        }

        > :last-child {
            width: 10px;
        }
    }
  
  }

  @media (max-width: 500px) {
    .dm-header-left {
        >div {
            font-size: 16px;
        }
    }
        
  }