.thread-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    background-color: transparent;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.thread-header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    gap: 15px;
    @media (max-width: 1500px) {
        padding-left: 30px;
    }
}

.channelName {
    color: rgba(121, 126, 243, 1);
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    white-space: normal;
    @media (max-width: 1500px) {
        max-width: 150px;
    }
    @media (max-width: 1200px) {
        max-width: 400px;
    }
    @media (max-width: 700px) {
        max-width: 250px;
    }
    @media (max-width: 700px) {
        max-width: 150px;
    }
}

.thread-header-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
    @media (max-width: 1500px) {
        padding-right: 20px;
    }
}

.close-thread-icon {
    background-image: url('/assets/img/main-page/thread/cross.svg');
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    &:hover {
        cursor: pointer;
        background-image: url('/assets/img/main-page/thread/cross-hover.svg');
    }

}

@media (max-height: 950px) {
    .thread-header {
        padding: 10px 20px;
    }
  
    .thread-header-left {
        >div {
            font-size: 20px;
        }
    }
  
  }