<div class="container">
    <div class="content">
        <div class="back-box">
            <a (click)="backToLogin()" ><mat-icon>arrow_back</mat-icon></a>
        </div>
        <h1 [ngClass]="{'fs-46': !mobileVersion, 'fs-32-700': mobileVersion}">Impressum</h1>
        <span class="fs-20">
            Niklas Gläser, Marco Engelhardt, Safa Shamari <br>
            Zürcherstrasse 46 <br>
            8102 Oberengstringen
        </span>
        <h1 [ngClass]="{'fs-46': !mobileVersion, 'fs-32-700': mobileVersion}">Kontakt</h1>
        <span>
            <a class="fs-20" href="mailto:dabubble@gmail.com">dabubble&#64;gmail.com</a>
        </span>
    </div>
</div>



