.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.0784313725);
    border-radius: 30px;
    padding: 32px 64px;
    @media (max-width:650px) {
        padding: 20px;
    }
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    h1{
        width: 100%;
        color: var(--purple1);
        text-align: left;
    }
}

.back-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    &:hover{
        background-color: var(--bgColor);
        a{
            color: var(--purple3);
        }
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
}