
<div class="container">
    <div class="content">
        <div class="back-box">
            <a ><mat-icon>arrow_back</mat-icon></a>
        </div>
        <h1 class="fs-46">Wähle deinen Avatar</h1>
        <img src="assets/img/landing-page/unknown.svg" alt="">
        <div class="profile-name">
            <span class="fs-32-700">Frederik Beck</span>
        </div>
        <div class="list">
            <span class="fs-20">Aus der Liste wählen</span>
        
       
            <div class="chose-avatar">
                <div class="avatar-box">
                    <img src="assets/img/landing-page/women1.svg" id="avatar1">
                </div>
                <div class="avatar-box">
                    <img src="assets/img/landing-page/men1.svg" id="avatar2">
                </div>
                <div class="avatar-box">
                    <img src="assets/img/landing-page/men2.svg" id="avatar3">
                </div>
                <div class="avatar-box">
                    <img src="assets/img/landing-page/men3.svg" id="avatar4">
                </div>
                <div class="avatar-box">
                    <img src="assets/img/landing-page/women2.svg" id="avatar5">
                </div>
                <div class="avatar-box">
                    <img src="assets/img/landing-page/men4.svg" id="avatar6">
                </div>
            </div>
        </div>
        <div class="upload-img">
            <span class="fs-20">eigenes Bild verwenden</span>
            <button class="fs-18-b">
                Datei hochladen
            </button>
        </div>
        <div class="futer-box">
            <div class="futer-btn">
                <button >
                    <span class="fs-18-b">Weiter</span>
                </button>
                
            </div>
        </div>
    </div>
</div>

