::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px 0px 30px 30px;
}

.container .mat-dialog-container{
    position: fixed;
    max-width: 600px ;
    max-height: 181px ;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px ;
    gap: 15px;
    max-width: 282px;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 30px 0px 30px 30px;
    overflow: hidden;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 53px;
    padding: 10px 70px 10px 70px;
    gap: 15px;
    border: 1px solid transparent;
    border-radius: 100px;
    span{
        font-size: 24px;
        font-weight: 600;
    }
    &:hover{
        cursor: pointer;
        background-color: var(--bgColor);
        span{
            color: var(--purple1);
        }
    }
}

